# o que for posto aqui, não será enviado para o repositório remoto (github, gitlab, etc)

# Node modules (dependências do projeto, pasta criada ao rodar 'npm install')
# Pasta muito grande, não faz sentido enviar para o repositório
node_modules/

.env